<ul class="list-group">
  <li class="list-group-item">
    <a routerLink="/admin/create-product-category" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Create Product Category</a>
  </li>
  <li class="list-group-item">
      <a routerLink="/admin/product-category-list" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Product Category List</a>
    </li>
  <li class="list-group-item">
    <a routerLink="/admin/create-seller-category" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Create Seller Categorys</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/admin/seller-category-list" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Seller Category List</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/admin/create-seller" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Create Seller</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/admin/seller-list" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Seller List</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/admin/create-product" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Create Product</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/admin/product-list" routerLinkActive="text-orange" [routerLinkActiveOptions]="{ exact: true }">Product List</a>
  </li>
</ul>