<h3>Seller List</h3>
<div class="table-responsive">
  <table class="table table-bordered mt-4" style="min-width: 1400px">
    <thead>
      <tr>
        <th>#sl</th>
        <th>Photo</th>
        <th>Shop Name</th>
        <th>Seller Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Seller id</th>
        <th>Tin No</th>
        <th>Vat No</th>
        <th>Status</th>
        <th style="min-width: 250px">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (item of sellerList; track $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>
          <img
            [src]="item.photo"
            alt="item.photo"
            style="height: 50px; width: 50px"
          />
        </td>
        <td>{{ item.shopName }}</td>
        <td>{{ item.sellerName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.sellerCategoryId }}</td>
        <td>{{ item.tinNumber }}</td>
        <td>{{ item.vatNumber }}</td>
        <td>
          @if(item.sellerStatus){
          <span class="badge rounded-pill text-bg-success">Approved</span>
          } @else {
          <span class="badge rounded-pill text-bg-danger">Pending</span>
          }
        </td>
        <td>
          @if(item.id){
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="approveStatus(item.id)"
          >
            Approve
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm ms-3"
            (click)="pendingStatus(item.id)"
          >
            Pending
          </button>
          <a
            routerLink="{{`/admin/seller-list/${item.id}`}}"
            class="btn btn-success btn-sm ms-3"
            >View</a
          >
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
