<h3>Seller Category List</h3>
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>#sl</th>
            <th>Name</th>
            <th>Description</th>
            <th>Seller Id</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (item of sellerCtgList; track $index) {
        <tr>
            <td>{{$index+1}}</td>
            <td>
                {{item.sellerCategoryName}}
            </td>
            <td>{{item.description}}</td>
            <td>
                {{item.id}}
            </td>
              <td>
                @if(item.seller_ctg_status){
                    <span class="badge rounded-pill text-bg-success">Approved</span>
                } @else {
                    <span class="badge rounded-pill text-bg-danger">Pending</span>
                }
            </td>
            <td>
                @if(item.id){
                    <button type="button" class="btn btn-primary" (click)="approveStatus(item.id)">Approve</button>
                    <button type="button" class="btn btn-danger ms-3" (click)="pendingStatus(item.id)">Pending</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
